streamlit
pypdf2
langchain>=0.0.12
langchain_community==0.2.11
langchain_chroma>=0.0.9
chromadb
pytest
boto3
requests
pdfminer.six
pypdf
opentelemetry-exporter-otlp
google
pysqlite3-binary
protobuf==3.20.3
